node_modules
.next
uploads
.env
.mathpix
.vscode
/codealike.json
/.idea/Adlyceum.iml
/.idea/aws.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
