* {
    box-sizing: border-box;
}

svg path {
    transition: fill ease .5s;
}

.htmlBackgroundBackdrop {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.fr-table-colors{
    padding-bottom: 20px;
}

textarea.fr-code {
    height: 100%;
}

/* VarCss */
:root {
    --theme-primary: #0F089F;
}

/*
 * Scrollbar General
*/
::-webkit-scrollbar {
    display: initial;
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}